<!DOCTYPE html>
<html ng-app='gitcloneApp'>
  <head>
    <title>github viewer</title>
    <script src='angular_files/angular/angular.js'></script>
    <script src='js/gitcloneApp.js'></script>
    <script src='js/controllers/GitUserCtrl.js'></script>
    <script src='js/controllers/GitUserSearchCtrl.js'></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/application.css">
 </head>
 <body>
   <section ng-controller='GitUserSearchCtrl'>
    Search: <input ng-model='username' name='input' type='text'> 
    <button ng-click="getInfo()" id='search'>Search</button>
   <div>

   
      <ul class='users'>
        <li ng-repeat='user in users'>
          <div ng-show="userNotFound"><p id="error_not_found">User Not Found</p></div>
          <div ng-hide="userNotFound">
          <p>Username: {{ user.login }}</p>
          <p class="followers">Followers: {{ user.followers }}</p>
          <p class="repos">Repos: {{user.public_repos}}</p>
          <img class="avatar" src='{{user.avatar_url}}'>
        </div>
        </li>
      </ul>
   </div>

    </section>
<p>-----------------------------------</p>
      <section ng-controller='GitUserCtrl'>
      <ul class='defaultlist'>
        <li ng-repeat='user in users'>
          <p>Username: {{ user.login }}</p>
          <img class="avatar" src='{{ user.avatar_url }}'>
        </li>
      </ul>
    </section>

  </body>
</html>
