<!DOCTYPE html>
<html ng-app='gitcloneApp'>
  <head>
    <title>github viewer</title>
    <script src='angular_files/angular/angular.js'></script>
    <script src='js/gitcloneApp.js'></script>
    <script src='js/controllers/GitUserCtrl.js'></script>
    <script src='js/controllers/GitUserSearchCtrl.js'></script>
 </head>
 <body>
   <section ng-controller='GitUserSearchCtrl as searchctrl'>
    Search: <input ng-model='username' name='input' type='text'> 
    <button ng-click="searchctrl.getInfo()">Search</button>
   </section>
   <section ng-controller='GitUserCtrl'>
      <ul class='users'>
        <li ng-repeat='user in users'>
          <span>{{ user.login }}</span>
          <p>{{ user.id }}</p>
        </li>
      </ul>
    </section>
  </body>
</html>
