<!DOCTYPE html>
<html ng-app='gitcloneApp'>
<head>
  <title>github viewer</title>
  <script src='angular_files/angular/angular.js'></script>
  <script src='js/gitcloneApp.js'></script>
  <script src='js/controllers/GitUserCtrl.js'></script>
  <script src='js/controllers/GitUserSearchCtrl.js'></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/application.css" >
</head>
<body>
 <section class='individual-search' ng-controller='GitUserSearchCtrl'>
<input ng-model='username' name='input' type='text' placeholder='enter a username'> 
  <button ng-click="getInfo()" id='search'>Search</button>
  <div>


    <ul class='users'>
      <li ng-repeat='user in users'>
        <div ng-show="userNotFound"><p id="error_not_found">User Not Found</p></div>
        <div ng-hide="userNotFound">


          <img src='{{user.avatar_url}}'>
          <p>{{ user.login }}</p>
          <p class="followers">Followers: {{ user.followers }}</p>
          <p class="repos">Repos: {{user.public_repos}}</p>
        </div>
      </li>
    </ul>
  </div>

</section>


<section ng-controller='GitUserCtrl'>
  <ul class='defaultlist img-list'>
    <li ng-repeat='user in users'>
    <a href="{{ user.html_url}} ">
      <img class="avatar" src='{{ user.avatar_url }}'>
          <span class="text-content"><span>{{ user.login }}</span></span>
          </a>
    </li>
  </ul>
</section>

</body>
</html>
